
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/.vs/TestApp/v16/Server/sqlite3/db.lock
/.vs/TestApp/v16/Server/sqlite3/storage.ide
/.vs/TestApp/v16/Server/sqlite3/storage.ide-shm
/.vs/TestApp/v16/Server/sqlite3/storage.ide-wal
[Ss]ite-packages*/
[Ss]cripts*/
