<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="DefaultLoadFilePath" value="" />
      <add key="DefaultLoadFolderPath" value="" />
      <add key="DefaultSaveFolderPath" value="C:\" />
      <add key="BfLoadFilePath" value="D:\sample_moto.txt" />
      <add key="BfLoadFolderPath" value="" />
      <add key="BfSaveFolderPath" value="D:\" />
      <add key="Chk1" value="false" />
      <add key="Chk2" value="true" />
      <add key="Dic" value="D:\sample_dic.txt" />
    </appSettings>
</configuration>