<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="DefaultLoadFilePath" value="" />
      <add key="DefaultLoadFolderPath" value="" />
      <add key="DefaultSaveFolderPath" value="" />
      <add key="BfLoadFilePath" value="" />
      <add key="BfLoadFolderPath" value="" />
      <add key="BfSaveFolderPath" value="" />
      <add key="Chk1" value="false" />
      <add key="Chk2" value="false" />
    </appSettings>
</configuration>